body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    margin-bottom: 10vh;
}

.header-image {
    position: absolute;
    top: -20vh;
    z-index: -1;

}

.nav {
    display: flex;
    margin: 1vh 10vw;
    justify-content: space-between;
    color: white;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar {
    display: flex;

}

.nav-bar li {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    padding-left: 30px;
    list-style: none;
}

.head {
    display: Flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7vh;
    align-items: center;

}

.logo {
    width: 20vw;
}


.head h3 {
    font-size: 2.1em;
    color: whitesmoke;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search {
    display: flex;
    width: 55vw;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: White;
    padding: 5px 0;

}

.search input {
    outline: none;
    border: none;
    width: 50%;
    padding-left: 10px;
    font-size: 15px;

}

.search p {
    color: gray;
    border-right: 1px solid gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding-right: 10px;
}

.search i:first-child {
    font-size: 20px;
    color: rgba(252, 119, 119, 119);
    padding-left: 10px;
    padding-right: 10px;
}

.search i {
    color: gray;
    padding-left: 10px;
}

.sec-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 13vh;
}

.box {
    position: relative;
    width: 265px;
    margin: 3px 5px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 1px 2px gray;
    background-color: rgb(243, 240, 240);
}


.box img {
    width: 100%;
    border-radius: 15px;
    border: 1px solid rgb(204, 203, 203);
    z-index: -1;

}


.white {
    position: absolute;
    bottom: 3px;
    align-items: center;
    border-radius: 0 0 15px 15px;
    background-color: white;
    width: 100%;
    height: 25%;
    z-index: 2;
}

.white p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: rgb(56, 56, 56);
    letter-spacing: 0.7px;
    /*Harfler arasındaki boşluğu 0.7px artırır*/
}


.middle,
.end {
    margin: 60px 150px;

}

.sec-2 h2 {
    font-size: 2.7rem;
    font-weight: lighter;
    margin-bottom: 10px;

}

.sec-2 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;


}

.sec-2 h6 {
    margin: 0;
    font-size: 1rem;
    font-weight: lighter;
    color: gray;

}

.sec-2 h6 {
    margin: 0;
    font-size: 1rem;
    font-weight: lighter;
    color: rgb(99, 98, 98);

}

.fa-caret-right,
.sec-2 span {
    color: rgb(248, 117, 117);
}

.box-1 {
    width: 255px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;


}

.box-1 div {
    position: absolute;
    background: linear-gradient(transparent, black);
    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-end;
    bottom: 0;

}


.box-1 div span:first-child {
    display: inline-block;
    color: White;
    padding-left: 15px;
    font-size: 1.2rem;
    padding-bottom: 5px;

}

.box-1 i {
    color: white;
    padding-bottom: 15px;

}

.box-1 img {
    width: 255px;
    height: 300px;
    object-fit: cover;
}

.sec-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 130px;
}


.middle h1 {
    font-size: 2.1rem;
    font-weight: lighter;
    text-align: center;
    margin: 50px;
    color: rgb(56, 56, 56);

}

.sec-4 {
    display: grid;
    justify-content: center;
    grid-column-gap: 20px;
    grid-template-columns: 340px 340px 340px;
    grid-template-rows: auto;

}


.box-2 {
    border: 1px solid rgb(235, 233, 233);
    box-shadow: 0 1px 3px rgb(226, 223, 223);
    width: 340px;
    height: 60px;
    overflow: hidden;
    border-radius: 10px;

}


.box-2 div {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

}

.box-2 div span {
    color: rgb(65, 64, 64);
    font-size: 1.2rem;
    display: inline-block;
    overflow: hidden;
    /*Taşmaları önler */
    text-overflow: ellipsis;
    /*Metni keser ve ... koyar*/
    white-space: nowrap;
    /*Satır sonu yapmaz */
}


.sec-5 {
    display: flex;
    margin: 90px 0;
    padding: 40px 0;
    justify-content: space-between;
    background-color: rgb(255, 248, 248);
}

.flex {
    display: flex;
}

.contact {
    width: 760px;
    overflow: hidden;
}

.contact img {
    width: 250px;
    height: 450px;
    padding-right: 40px;
}

.address {
    width: 470px;
    margin-top: 20px;
    padding-left: 10px;
}

.address p {
    padding-bottom: 10px;
    font-size: 0.95rem;
    color: rgb(92, 92, 91);
}

.address h2 {
    font-size: 2.7rem;
    font-weight: lighter;
    margin-bottom: 20px;
    color: rgb(34, 34, 34);
}

.radio {
    display: flex;
    justify-content: space-between;
    margin-right: 230px;
    padding-bottom: 20px;
}

.radio label {
    font-size: 1.1rem;
    color: rgb(49, 49, 49);
}

.radio [type="radio"] {
    accent-color: rgb(255, 92, 92);
}

.email {
    position: relative;
}

.email input {
    height: 46px;
    border-radius: 5px;
    width: 270px;
    border: 1px solid rgb(184, 183, 183);
    outline: rgb(255, 92, 92);
    font-size: 1.3rem;
    padding-left: 15px;
}

.email .place {
    position: absolute;
    font-size: 1.3rem;
    left: 15px;
    top: 13px;
    color: gray;
    font-weight: lighter;
}

.email button {
    background-color: #ff5722;
    /* Butonun arka plan rengini belirler */
    color: white;
    /* Buton üzerindeki metnin rengini belirler */
    border: none;
    /* Butonun kenar çizgilerini kaldırır */
    padding: 10px 20px;
    /* Butonun iç padding'ini ayarlar */
    border-radius: 5px;
    /* Butonun köşelerini yuvarlatır */
    cursor: pointer;
    /* Butona üzerine gelindiğinde el işareti gösterir */
    transition: background-color 0.3s;
    /* Hover efekti için geçiş süresi ayarları */
}

.email button:hover {
    background-color: #e64a19;
    /* Hover durumunda butonun arka plan rengini değiştirir */
}

.download {
    font-size: 0.7rem;
    margin-top: 27px;
    margin-bottom: 0;
    color: gray;
}

.app img {
    width: 137px;
    height: 40px;
}

.sec-6 {
    margin-bottom: 110px;

}

.sec-6 h1 {
    font-size: 1.9rem;
    margin-bottom: 25px;
    font-weight: lighter;
    color: rgb(31, 31, 31);
}

.sec-6 h4 {
    font-size: 1.4rem;
    margin-bottom: 25px;
    font-weight: lighter;
    color: rgb(31, 31, 31);

}

.sec-6 a {
    text-decoration: none;
    color: gray;
    font-size: 0.95rem;
}

.sec-6 i {
    font-size: 0.3rem;
    padding: 6px 5px;
    color: gray;
}

.end-column a {
    width: 190px;
    font-size: 1rem;
    font-weight: lighter;
    display: inline-block;
    margin: 15px 0;

}

.first img {
    width: 128px;
    height: 32px;
}

.sec-7 {
    padding: 40px 120px;
    background-color: rgb(244, 244, 253);
}

.first {
    display: flex;
    justify-content: space-between;
}

.first-1 {
    display: flex;
}

.first-1 span {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 20px;
    font-weight: 400;
}

.section {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.section div {
    width: 200px;
}

.section h4 {
    font-weight: lighter;
    color: rgb(22, 22, 22);
    white-space: nowrap;
}

.section a {
    display: inline-block;
    width: 200px;
    margin-bottom: 7px;
    white-space: nowrap;
    text-decoration: none;
    color: gray;
    font-size: 0.9rem;
}

.section img {
    width: 137px;
    height: 40px;
    margin-top: 11px;
    cursor: pointer;
}

.box-4 {
    display: flex;
    flex-direction: column;
}

.box-4 i {
    margin-left: 5px;
    margin-bottom: 5px;
}

.third {
    padding: 10px 0;
    color: gray;
    font-size: 0.7rem;
}